.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.card {
  outline: 1px solid #eee;
  width: 20%;
}

.day {
  color: gray;  
  font-weight: 700;
  margin-top: 10%;
  padding-top: 5%;
}

.temp {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  margin-bottom: 2%;
}
.temp-min {
  color: gray; /* Color change in min temp */
}